# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-electron
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Environment variables
.env
.env.local
.env.production

# Electron
out
build

# Capacitor
android


ios

# Firebase
.firebase
firebase-debug.log

# Exceptions

cleanup_comments.js
ic_launcher_fix.xml
replace_icons.js
temp_ic_launcher_fix.xml
update_icons.js
update_icons.py
temp_ic_launcher_bypass.xml
temp_ic_launcher_restore.xml
temp_ic_launcher.xml
verify_icons.js